/* .main-navbar{
  height: 60px;
  background-color: #A2CBB3;

}
.nav-ul{
  display: flex;
  justify-content: space-between;
  height: fit-content;
  margin: auto 1  0px;
}
.nav-ul li{
  margin-left: 10px;
} */
