.bg-images{
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 1px;
  opacity: 70%;
  border: red solid 1px;
  height: fit-content;

}
.bg-forest{
  width: 40%;
  float: right;
  margin-right: 20px;
}
.bg-fire{
  width: 32.3%;
  float: left;

}
