<div class="bg-images">
  <%= image_tag("fire.png", class:"bg-fire") %>
  <%= image_tag("forest.png", class:"bg-forest") %>
</div>

<style>
  .bg-images{
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 1px;
    z-index: -1;
    opacity: 70%;
    height: fit-content;
  }
  .bg-forest{
    width: 50%;
    float: right;
    margin-right: 20px;
  }
  .bg-fire{
    width: 40.3%;
    float: left;
  }
</style>
