<%# <footer> %>
  <%# <div class="half-width">
    <%= link_to root_path do %>
        <%# <%= image_tag("deforestation-word-logo.png", { :class => "footer-logo" }) %>
    <%# <% end %>
  <%# </div> %>

  <%# <div class="half-width">
    <a href="#" data-bs-toggle="modal" data-bs-target="#ContactModal"><h2 class="contact-us">Contact us</h2></a>
  </div> %>
<%# </footer> %>

<footer>
  <div class="container">
    <div class="row h-75">
      <div class="col">
        <%= link_to root_path, { :style => "border-bottom: solid 1px white; padding-bottom: 34px;" } do %>
          <%= image_tag("deforestation-word-logo.png", { :class => "footer-logo" }) %>
        <% end %>
      </div>
      <div class="col">
        <a href="#" data-bs-toggle="modal" data-bs-target="#ContactModal"><h2 class="contact-us">Contact us</h2></a>
        <a href="#" data-bs-toggle="modal" data-bs-target="#ContactModal"><p id="contact-text">If there are any issues appearing, feel always free to reach out to us and tell us about the problem.<br>
        <span style="font-weight:bold; padding: 5px 10px; font-size: 18px;">Contact us</span><i class="fa-solid fa-envelope"></i></p></a>
      </div>
    </div>
    <div class="row h-25">
      <div class="col">
        Here will be more information in the footer Lorem ipsum dolor sit amet consectetur adipisicptatem earum accusamus culpa exercitationem obcaecati, nobis eligendi, similique. @
      </div>
    </div>
  </div>

</footer>


 <%# the modal  %>
<div class="modal fade" id="ContactModal" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static" role="dialog" aria-labelledby="ContactModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header ContactModalBackground">
        <h3 class="modal-title" id="ContactModalLabel">Contact form</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body ContactModalBackground">

        <form
          action="https://formspree.io/f/xbjegjaz"
          method="POST"
          enctype="multipart/form-data"
        >
          <label class="d-block">
            Your email:<br>
            <input type="email" name="email">
          </label>
          <label style="width:100%;">
            Your message:<br>
            <textarea name="message"></textarea>
          </label>
          <label>
            Feel free to add a screenshot or anything that might helps:
            <input type="file" name="upload">
          </label>
          <button class="modal-send-button" type="submit">Send</button>
        </form>

      </div>

      <div class="modal-footer">
        <h5>Thank you for your message!</h5>
      </div>
    </div>
  </div>
</div>








<style>


footer{
  left: 0 ; right: 0; bottom: 0;
  width: 100%;
  height: 300px;
  /* background-color: #425c75; */
/* background: rgb(22,31,40);
background: linear-gradient(180deg, rgba(22,31,40,1) 0%, rgba(31,43,55,1) 6%, rgba(66,92,117,1) 37%);   */
  background: rgb(22,31,40);
  background: linear-gradient(180deg, rgba(22,31,40,1) 0%, rgba(31,43,55,1) 2%, rgba(66,92,117,1) 21%);
}
.footer-logo{
  width: 300px;
  filter: drop-shadow(3px 3px 5px #303E34);
  margin: 10px auto;
}
.contact-us{
  color: white;
  margin: 20px auto;
  width: fit-content;
}
.col a{
    text-decoration: none;
}
#contact-text{
  color: white;
  /* width: 80%; */
  margin: 20px auto;
  text-align: center;
  width: 70%;
}



    /* modal styles */
.modal{
  margin-top: 55px;
}
.ContactModalBackground{
  background-color:#7D7D7D;
}
label{
  font-weight: bold;
  color: white;
}
input, textarea{
  background-color: #F9F0E1;
}
textarea{
  width: 80%;
  height: 180px;
}
.modal-footer{
    background-color:#7D7D7D;
}
.modal-send-button{
  width: fit-content;
  padding: 5px 25px;
  border-radius: 2px;
  float: right;
}
</style>
