@import "home";
@import "about.scss";
@import "/app/views/shared/_navbar.scss";
@import "/app/views/shared/_bg-images.scss";

// html{
//   position: relative;
// }
html, body {
  min-height: 100%;
  margin: 0;
  background-color: #F5F5F5;
}
body{
  margin-top: 90px;
  margin-bottom: 300px;
}
