/* /* body, html{
  margin: 0;
} */

/* .main-navbar{
  height: 60px;
  background-color: #A2CBB3;

}
.nav-ul{
  display: flex;
  justify-content: space-between;
  height: fit-content;
  margin: auto 1  0px;
}
.nav-ul li{
  margin-left: 10px;
} */

@media only screen and (max-width: 990px) {
  .dissapear-in-collapse {
    display: none;
  }
}
